<div *ngFor="let dweet of dweets" class="dweet-block">

    <div class="dweet">
        <div class="media">
            <img class="mr-3" src="../../assets/user.svg" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0"><a>Utpal</a></h5>
                <h6>Wrote on {{dweet.createdDate | date:'mediumDate'}} </h6>
                <p class="dweet-message">{{dweet.message}}</p>
                <div>
                    <a><span class="badge badge-success"><img src="../../assets/comment.svg"> {{dweet.comments.length }} </span></a>
                    <a><span class="badge badge-success"><img src="../../assets/thumbsup.svg"> {{ dweet.likes.length }}</span></a>
                    <a><span class="badge badge-success"><img src="../../assets/sync.svg"> {{dweet.redweets.length }}</span></a>
                </div>
            </div>
        </div>
    </div>

</div>