<div class="content well">
  <div class="stream-item-header">
    <img class="profile-avatar" src="../../assets/user.svg" alt="">
    <span class="FullNameGroup">
      <strong class="fullnam">Utpal</strong></span>
  </div>

  <div>
    <p class="dweetTextSize  dweet-text">
      Reviewing action taken on decisions from last meeting at State Co-op. Bank Ltd with Secretary Coop, Registrar,Adm of Coop
      Societies,NABARD RBI officials. Elections being held after a gap of 30 years. Meeting with Sec,Agriculture in
      the morning
    </p>
  </div>
</div>
